/* Glenn Jones - taken from ident engine  */

@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
  padding:2em;
  padding-top: 0;
  margin: 0;
  font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#333;
  font-weight:300;
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 20px;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight:300;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1{
  font-size: 1.5em;
}

h2, h3 {
  margin-top: 3em;
  margin-bottom: 0.8em;
  font-size: 1.17em;
}

h1, h2, h3 {
  line-height:1.1;
  clear: both;  
  text-transform: uppercase;
  font-weight: normal;
}


ol{
  list-style-type: lower-alpha;
}

ol li{
  margin-bottom: 1em;
}

h1.home-link{
  font-size: 1.8em;
  font-weight: 400;
  margin-bottom: 0.4em;

  text-transform: uppercase;
  height: 145px;
  padding: 0;
  position: relative;
}

h1.home-link a{
  color: #333;
  display: block;
  position: absolute; bottom: 0; left: 0;
}

h1.entry-title{
  margin-top: 2em;
  margin-bottom: 1em;
}



header h2 {
  color:#ff6666;
}

h3, h4, h5, h6 {
  color:#494949;
}

a {
  color:#39c;
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.6em;
  display:block;
}

.wrapper {
  width:700px;
  margin:0 auto;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color:#333;
  font-size:12px;
}

pre {
  padding:8px 15px;
  background: #F0F0F0;  
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

dt {
  color:#444;
  font-weight:700;
}

th {
  color:#444;
}

img {
  max-width:100%;
}

nav{
  border-top: 1px solid #e7e7e7;
  clear: both;
  padding-top: 0.5em;
}

.menu {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  font-weight: normal;
}

.menu li {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
}

.menu li a {
  border-right: 1px solid #eee;
  display: block;
  padding-left: 1em;
  padding-right: 1em;
  text-decoration: none;
  text-transform: lowercase;
  color: #000;
}

.menu li a:hover {
  text-decoration:underline;
}

.menu .lastItem{
  border: none;
}

.menu .firstItem{
  padding-left: 0;
}

dl{
  margin-left: 1.4em;
}

dd{
  margin-left: 0;
  margin-bottom: 1em;
}


header {
  width:270px;
  float:left;
  position:fixed;
}

header .buttons {
  list-style:none;
  height:40px;
  
  padding:0;
  
  background: #eee;
  background: -moz-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
  background: -webkit-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  background: -o-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  background: -ms-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  background: linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  
  border-radius:5px;
  border:1px solid #d2d2d2;
  box-shadow:inset #fff 0 1px 0, inset rgba(0,0,0,0.03) 0 -1px 0;
  width:270px;
}

header .buttons li {
  width:89px;
  float:left;
  border-right:1px solid #d2d2d2;
  height:40px;
}

header ul.buttons a {
  line-height:1;
  font-size:11px;
  color:#999;
  display:block;
  text-align:center;
  padding-top:6px;
  height:40px;
}

strong {
  color:#222;
  font-weight:700;
}

header ul.buttons li + li {
  width:88px;
  border-left:1px solid #fff;
}

header ul.buttons li + li + li {
  border-right:none;
  width:89px;
}

header ul.buttons a strong {
  font-size:14px;
  display:block;
  color:#222;
}

section {
  width:500px;
  float:right;
  padding-bottom:5px;
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

footer {
  width:270px;
  float:left;
  position:fixed;
  bottom:50px;
  margin-top: 4em;
}



form{
  margin-bottom: 80px;
}

form p{
  margin: 0 0 8px 0;
}

input[type="text"]{
  width: 325px;
  padding: 7px;
  border: 1px solid #999;
   border-radius: 3px 3px 3px 3px;
   font-size: 12px;
   color: #333;
}

input[type="submit"], input[type="button"]{
  margin-top: 10px;
  font-size: 2em;
}

label{
  display: inline-block;
}

textarea {
  width: 340px;
  height: 150px;
  padding: 7px;
  border: 1px solid #999;
   border-radius: 3px 3px 3px 3px;
   font-size: 12px;
   color: #333;
}

xxxul {
  float: left;
}

.button {
  background: #33a0e8;
  background: -moz-linear-gradient(top,  #33a0e8 0%, #2180ce 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#33a0e8), color-stop(100%,#2180ce));
  background: -webkit-linear-gradient(top,  #33a0e8 0%,#2180ce 100%);
  background: -o-linear-gradient(top,  #33a0e8 0%,#2180ce 100%);
  background: -ms-linear-gradient(top,  #33a0e8 0%,#2180ce 100%);
  background: linear-gradient(to bottom,  #33a0e8 0%,#2180ce 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33a0e8', endColorstr='#2180ce',GradientType=0 );
  border-color: #2270AB #18639A #0F568B;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 1px 0 #83C5F1 inset;
  color: #FFFFFF;
  border-radius: 3px 3px 3px 3px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  overflow: visible;
  padding: 5px 16px;
  text-align: center;
}

.button:active, .button-down {
  background: #2180ce;
  background: -moz-linear-gradient(top,  #2180ce 0%, #33a0e8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2180ce), color-stop(100%,#33a0e8));
  background: -webkit-linear-gradient(top,  #2180ce 0%,#33a0e8 100%);
  background: -o-linear-gradient(top,  #2180ce 0%,#33a0e8 100%);
  background: -ms-linear-gradient(top,  #2180ce 0%,#33a0e8 100%);
  background: linear-gradient(to bottom,  #2180ce 0%,#33a0e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2180ce', endColorstr='#33a0e8',GradientType=0 );
}

.large-input{
  padding: 7px;
  border: 1px solid #999;
  border-radius: 3px 3px 3px 3px;
  font-size: 14px;
}

.large-label{
  display: block;
  width: 100%;
  margin-bottom: 16px;
}

input.large-button{
  margin-left: 0;
}

#loading{
  display: none;
  margin-left: 6px;
  vertical-align: top;
}

#demos{
  margin-bottom: 60px;
  font-weight: bold;
}

.code-title{
  margin-top: 2.2em;
}

.services{
  margin-top: 2em;
  list-style: none;
  margin-bottom: 30px;
  width: 20em;
}

.services li{
  height: 24px;
  margin-bottom: 2px;
  background-size: 16px 16px;
  font-size: 14px;
}

.services li span{
  display: inline-block;
  margin-right: 10px;
  color: #666;
}

.services li a{
  font-weight: bold;
}

ul.services{
  float: none;
}

#support{
  margin-bottom: 6em;
}

#support .services{
  margin-bottom: 0;
}

#support-lists ul{
  float: left;
}

#support-lists .services{
  width: auto;
}

#support-lists .services li{
  border: none;
}


.notes{
  clear: both;
  margin-bottom: 60px;
  margin-left: 40px;
}

.error{
  margin-bottom: 60px;
}


.paging{
  list-style: none;
  padding: 0;
  margin: 0;
}

.paging li{
  padding: 2px 8px;
  margin: 2px;
  background-color: white;
  border: solid 1px #39C;
  display: block;
  float: left;
}

.paging li.current-page{
  border: solid 1px #ddd;
  color: #ddd;
}


.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */






div.swagger-ui-wrap h2, div.swagger-ui-wrap h3{
  margin: 0;
  text-transform: none;
}

div.swagger-ui-wrap input[type="text"]{
  padding: 2px;
  width: 220px;
}

div.swagger-ui-wrap form{
  margin: 0;
}

div.swagger-ui-wrap ul{
  margin: 0;
}

div.footer{
  display: none;
}

#message-bar{
  min-height: inherit;
  padding: 0;
}



@media print, screen and (max-width: 800px) {
  .wrapper {
    width: 100%;
  }
}



@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }
  
  pre, code {
    word-wrap:normal;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }

  .menu li {
    float: none;
  }

  .menu li a {
    border: 0;
    padding-left: 0em;
    padding-top: 0.4em;
  }

  .menu .lastItem{
    border: none;
  }

  .services {
    width: 15em;
  }

  input[type="text"]{
    width: 200px;
  }


}  

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}