/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input:focus {
	outline: 0;
}

#presentation {
	vertical-align: top;
	white-space: nowrap;
}

div.slide {
	-webkit-box-shadow: 0 0 50px #c0c0c0;
	-moz-box-shadow: 0 0 50px #c0c0c0;
	box-shadow: 0 0 50px #c0c0c0;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	display: inline-block;
	height: 700px;
	padding: 20px;
	position: relative;
	vertical-align: top;
	width: 900px;
}
	div.inactiveslide {
		opacity: 0.4;
	}
	div.activeslide {
		opacity: 1;
	}



@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
  font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight:300;
  font-size: 100%;
}

h1{
	font-size: 48px;
	margin-top: 20px;
	margin-left: 40px;
	margin-right: 40px;
	line-height: 100%;
}

h1.centered{
	text-align: center;
	margin-top: 250px;
	line-height: 150%;
}

h1.three-line{
	margin-top: 200px;
}

h1.four-line{
	margin-top: 150px;
}

h1.five-line{
	margin-top: 100px;
}

p{
	margin-left: 40px;
	margin-right: 40px;
	font-size: 20px;
}

strong{
	font-weight: bold;
}

a{
	color: #39C;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}

pre.prettyprint{
  margin: 40px;
  padding: 20px;

}

pre.prettyprint span{
  font-size: 20px;
  line-height: 150%
}


#intro{
	font-size: 50px;
	text-align: center;
	margin-top: 120px;
}

#logo{
	text-align: center;
	margin: auto;
	margin-top: 40px;
	display: block;
}

ul.list{
	list-style: disc;	
	font-size: 36px;
	margin-top: 40px;
	margin-left: 60px;
}

p, li{	
	font-size: 36px;
}

code{	
	font-size: 36px;
	line-height: normal;
    font-size: 100%;
    font-family:  consolas, 'andale mono','courier new', monospace;
    background-color: #f8f8f8
}


#demo-image{
	background: url(be-more-hapi.png) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#passport-image{
	background: url(passport.png) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#remote-monitor{
	background: url(remote-monitor.png) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#passport-image h1, #remote-monitor h1, #demo-image h1{	
	text-align: center;
	margin-top: 450px;
	line-height: 150%;
	background-color: #333;
	color: #fff;
	padding: 20px;

}

#inspector{
	background: url(inspector.png) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.demo-marker{
	padding: 20px;
	border: 1px solid black;
	position: absolute;
	top: -40px;
	left: 720px;
	font-size: 24px;
	background-color: white;
	-webkit-box-shadow: 0 0 20px #c0c0c0;
	-moz-box-shadow: 0 0 20px #c0c0c0;
	box-shadow: 0 0 20px #c0c0c0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}




/* iPad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	div.inactiveslide {
		opacity: 1;
	}
}

/* iPhone */
@media only screen and (max-device-width: 480px) {
	div.inactiveslide {
		opacity: 1;
	}
}